.users {
    margin: 2 rem auto;
    width:90%;
    max-width: 40rem;
}

.users ul {
    list-style: none;
    padding: 1rem;
    padding-left: 3rem;
}

.users li {
    border: 1px solid #ccc;
    background-color: white;
    margin: 0.5rem 0;
    padding: 0.5rem;
   
}