.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    overflow: hidden;
    background: white;
}

.header {
    background: #4f005f;
    padding: 0.5rem;
}

.header h2 {
    padding: 0.5rem;
    margin: 0;
}

.content {
    padding: 1rem;
    background: white;
    
}

.content p {
    margin: 1;
}

.actions {
    margin: 1rem;
    padding: 0.1rem;
    padding-left: 26rem;
}
    